RewriteEngine On

# Ignore existing files and folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Blog slug routing
RewriteRule ^([a-zA-Z0-9-]+)/?$ blog-details.php?slug=$1 [L,QSA]
