.bg-img-none{
    background-image: none;
}

.thank-you-top-margin{
    margin-top: 200px;
}

.hero-product{
    height: auto;
    padding: 200px 20px;
}

.bg-prismane{
    background: #c9f31d;
}

.rounded-none{
    border-radius: 0 !important;
}

*{
    outline: none;
}

/* Hide all tab panes by default */
.mega-menu-2 .tab-pane {
  display: none !important;
}

/* Show only active tab */
.mega-menu-2 .tab-pane.active.show {
  display: flex !important; /* since you're using flex utilities */
}

/* Applications Mega Menu – Vertical Pills Styling */
.header__area-2 .nav-pills .nav-link {
  background-color: #000;      /* Normal state */
  color: #fff;
  border-radius: 0;
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Hover state */
.header__area-2 .nav-pills .nav-link:hover {
  background-color: #c9f31d;
  color: #000;
}

/* Active state */
.header__area-2 .nav-pills .nav-link.active,
.header__area-2 .nav-pills .show > .nav-link {
  background-color: #c9f31d;
  color: #000;
}


.z-1{
    z-index: 1;
}

th{
  padding: 12px 24px !important;
}

td{
  padding: 16px 24px !important;
}

.text-table-head{
  color: #82878c;
}

@keyframes colorChange {
    0% {
        fill: rgb(255, 0, 0); /* Red */
    }
    33% {
        fill: rgb(0, 255, 0); /* Green */
    }
    66% {
        fill: rgb(0, 0, 255); /* Blue */
    }
    100% {
        fill: rgb(255, 0, 0); /* Red */
    }
}

/* Apply animation to wave paths */
.waves path {
    animation: colorChange 3s ease-in-out infinite;
}


tr td{
    align-content: center;
}

.color-item {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 0;
}